:root {
    --primary-color: rgb(151 92 37); /* tan mountain color from the logo but slightly darker */
    --accent-color: rgb(23 86 129); /* dark blue river color from the logo */
    --accent2-color: rgb(228 199 82); /* yellow ground color from the logo */
    --accent3-color: rgb(245 235 195); /* lighter version of yellow ground color from the logo */
    --accent4-color: rgb(223, 220, 208);
    --heading-font: Verdana, Helvetica, sans-serif;
    --body-font: Verdana, Helvetica, sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent3-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 3px solid var(--accent-color);
    padding: 10px 20px;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navigation li {
    flex: 1 1 auto;
    display: flex;
}

.navigation a {
      text-decoration: none;
      color: var(--accent-color);
      font-weight: bold;
      padding: 5px 5px;
      display: block;
      width: 100%;
      text-align: center;
      transition: 0.3s;
}

.navigation a:hover {
    color: var(--primary-color);
    background-color: rgb(0,0,0, 5%);
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

nav, p, section, article {
    margin: 15px;
    padding: 8px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    display: grid;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent-color);
    color: rgb(255 255 255);
}

.hero article {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 90%;
    padding: 5px;
    text-align: right;
    background-color: var(--accent2-color);
    transform: translateX(-50%);
    color: rgb(0 0 0);
}

.hero article img {
    float: right;
    width: 100px;
    box-shadow: 0 0 5px rgb(0 0 0);
    margin: 10px 10px 10px 16px;
}

.address-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    padding: 20px;
    margin: 20px auto;
    column-gap: 20px;
    row-gap: 5px;
}

.address-title {
    grid-column: 1 / 3;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 0;
    padding-bottom: 0;
}

.address-location {
    grid-column: 1 / 3;
    text-align: center;
    color: var(--accent-color);
    margin-top: 0;
    padding-top: 0;
}

.address-map iframe {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.history-grid, .expect-grid {
    display: grid;
    grid-template-columns: 1.2fr .6fr 1.2fr;
    align-items: stretch;
    gap: 20px;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    background-color: var(--accent3-color);
    border: 1px solid var(--primary-color);
    margin: 20px 0;
}

.expect-grid {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history-grid p, .expect-grid p {
    padding: 20px;
    margin: 0;
}

.expect-grid p {
    padding: 0 10px;
    margin-top: 0px;
}

.history-title, .expect-title {
    grid-column: 1 / 4;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    border-bottom: 2px solid var(--accent2-color);
    color: var(--accent-color)
}

.history-image img, .expect-image img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 5px solid rgb(255 255 255);
    box-shadow: 5px 5px 15px rgb(0,0,0, 20%);
}

.adventure-container {
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
}

.adventure, .employee {
    text-align: center;
    margin-bottom: 0;
    color: var(--accent-color);
    font-family: var(--heading-font);
}

.trip-container {
    text-align: center;
    width: 850px;
}

.trip-container h1 {
    color: var(--accent-color);
    font-family: var(--heading-font); 
    margin: 20px;
    }

.trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 0;
    color: var(--accent-color);
    font-family: var(--heading-font);
    grid-gap: 5px;
}

.trips img {
    width: 250px;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 5px rgb(0,0,0, 20%);
}

.trip-text {
    text-align: left;
}

.image-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.image-row figure {
    flex: 1;
    margin: 5px;
    text-align: center;
}

.image-row img {
    width: 100%;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 5px rgb(0,0,0, 20%);
}

.contact-form {
    display: grid;
    grid-gap: 15px;
    font-size: 0.8rem;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.form-item.column1 {
    grid-template-columns: 1fr;
}

.radio-group {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    padding: 0;
    margin: 0;
}

.radio-group legend {
    margin: 0;
    float: left;
    grid-column: 1;
    padding: 0;
}

.radio-item {
    display: flex;
    padding: 2px;
}

.radio-item label {
    text-align: left;
    padding-left: 10px;
}

.radio-options-wrapper {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], textarea {
    padding: 5px;
    font-family: var(--body-font);
}

textarea {
    resize: vertical;
}

.newsletter-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
}

.newsletter-item input {
    order: -1;
    width: 20px;
    height: 20px;
}

.employee-container {
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
    background-color: var(--accent4-color);
    border: 1px solid var(--primary-color);
}

.employee-image-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.employee-image-row figure {
    flex: 1;
    margin: 5px;
    text-align: center;
}

.employee-image-row img {
    width: 60%;
    max-width: 120px;
    height: auto;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 5px rgb(0,0,0, 10%);
}

.image-row figcaption, .employee-image-row figcaption, .trips figcaption {
    font-size: 0.8rem;
    margin-top: 8px;
    color: var(--accent-color);
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border: none;
}

button {
    margin: 0 auto;
    background-color: var(--primary-color);
    color: rgb(255 255 255);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(188, 71, 73, 0.3);
    transition: all 0.3s ease;
    width: 100%;
    justify-self: center;
    letter-spacing: 1px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(117, 71, 29);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(56, 102, 65, 0.4);
}

.booking-now {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-row: 1 / 3;
}

.booking-now img,
.booking-link {
    grid-column: 1;
    grid-row: 1;
}

.booking-now img {
  /* filter: blur(1px); */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.booking-text {
    background-color: rgba(23, 86, 129, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    z-index: 1;
    width: 300px;
}

.booking-text h2 {
    color: white;
}

.booking-link {
    text-decoration: none;
    z-index: 1;
    align-self: end;
    box-shadow: 0 4px 10px rgba(7, 74, 112, 0.3);
}

.booking-link:hover .booking-text {
    background-color: var(--accent-color);
    transform: scale(1.05);
    transition: 0.3s ease;
}

.call-to-action-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    padding: 10px;
    margin: 10px auto;
    column-gap: 20px;
    row-gap: 5px;
    align-items: start;
}

.form-review-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: start;
}

.cta-form {
    grid-gap: 8px;
    align-self: start;
}

.cta-item {
    margin-bottom: 5px;
}

.cta-button {
    padding: 0.6rem;
    margin-top: 5px;
    width: auto;
}

.review p {
    background-color: rgb(250, 248, 242);
    padding: 1.5rem;
    border: 1px solid darkgray
}

.connect {
    grid-column: 2 / 3;
}

.trip-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    letter-spacing: 1px;
    font-family: var(--body-font);
}

.trip-table caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.5rem;
}

.trip-table th, .trip-table td {
    border: 1px solid var(--primary-color);
    padding: 8px 12px;
    text-align: center;
}

.trip-table thead th {
    background-color: var(--accent2-color);
    color: var(--accent-color);
    font-weight: 700;
}

.trip-table .row-even {
    background-color: lightgray;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-radius: 8px;
    background-color: var(--accent3-color);
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.socialmedia a {
    text-decoration: none;
}
