:root {
    --primary-color: #b86f2b;
    /* tan mountain color from the logo */
    /* --secondary-color: #a75331; */     /* brown mountain color from the logo */
    /* --accent1-color: #c7ae14; */      /* yellow-green ground color from the logo */
    --accent2-color: #175681;
    /* dark blue river color from the logo */
    /* --accent3-color: #95d9fe; */      /* light blue sky color from the logo */
    --accent4-color: #e4c752;
    /* yellow ground color from the logo */
    --heading-font: "Times New roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 15px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: white;
}

.hero article {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 90%;
    padding: 5px;
    text-align: right;
    background-color: var(--accent4-color);
    transform: translateX(-50%);
    color: black;
}

.hero article img {
    float: right;
    width: 100px;
    box-shadow: 0 0 5px black;
    margin: 10px 10px 10px 16px;
}

.socialmedia a {
    text-decoration: none;
    margin: 20px;
}