* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #1b4322;
    background: #fff;
}

label, button, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 650px;
    color: #2d6a4f
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: #bc4749;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #386641;
    border-radius: 0.5rem;
    background-color: #f2e8cf;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid #52796f;
    padding: 1rem;
    border-radius: 8px;
}

legend {
    padding: 0 0.5rem;
    color: #386641;
    font-size: 1.3em;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem auto;
    background-color: #bc4749;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(188, 71, 73, 0.3);
    transition: all 0.3s ease;
    min-width: 200px;
    justify-self: center;
    letter-spacing: 1px;
    font-weight: bold;
}

button:hover {
    background-color: #9b3335;
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(56, 102, 65, 0.4);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    /* border-top: 1px solid #ccc; */
    border: 1px solid #0000;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.top-label {
    text-align: left;
    padding-bottom: 0.5rem;
    display: block;
}

textarea {
    width: 100%;
    resize: vertical;
}