* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

form {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #111;
    padding: 1rem;
}

input, textarea, select, button {
    padding: 0.75rem;
    width: 350px;
}

code {
    display: block;
    background-color: rgb(61, 67, 67);
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: .5rem;
}

.quiz-item {
    border: none;
}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid rgb(0 0 0 /10%);
}

label {
    
}