table {
    border-collapse: collapse;
    border: 2px solid gray;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.2rem;
    font-color: black;
}

thead th:hover {
    background-color: rgb(0,0,0, 5%);
    color: black;
}

th, td {
    border: 1px solid gray;
    padding: 8px 12px;
    text-align: center;
}

thead th, tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;
}

.row-even {
    background-color: lightgray;
}

.record:hover {
    color: red;
}
