:root {
    --primary-color: darkblue;
    --border-color: black;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: block;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    border-bottom: 1px dotted darkblue;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

.grid {
    display: grid;
    align-items: center;
    /* grid-template-columns: 1fr 1fr; */
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 100px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}